* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.full_page {
    width: 100%;
    height: 120%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(bg-1.jpg);
    background-size: cover;
    position: absolute;
    background-position: center center;
}
.navbar {
    align-items: center;
    margin-top: 5px;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: xx-large;
    padding: 50px 30px 20px 21px;
}
nav {
    text-align: right;
    flex: 1 1 0%;
}
nav ul li {
    display: inline-block;
    margin-right: 70px;
    color: white;
}
nav ul li a {
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}
nav ul li a:hover{
    color: aqua;
    font-size: xx-large;
    font-style: italic;
}
nav ul li button {
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: transparent;
}

.content {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 5%;
    margin-left: 0%;
}
h1{
    color: #fff;
    font-size: xx-large;
}
.h1:hover{
    font-size: xx-large;
    color: chartreuse;
}
.content p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.content p:hover{
    font-size: xx-large;
    color: aqua;
}
.logo {
    text-align: center;
    margin-bottom: 15%;
    height: 2px;
}
img {
    width: 250px;
    height: 100px;
    border-radius: 20px;
}
button {
    width: fit-content;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 15px;
    margin: 20px 10px;
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(218, 231, 230);
    border-image: initial;
    background: rgb(204, 224, 88);
    text-transform: uppercase;
    
}
button:hover {
    color: teal;
}
